header
{
width: 100%
}

.uneimage
{
  width: 100px;
}

header>menu
{
  float: right;
  list-style: none;
}

header>menu>li
{
  float: left;
  
}

header>menu>li>a
{
  padding: 1em;
  color: blue;
}

header>menu>li>a:hover
{
  border-top: 1px solid blue;
}