body>nav>form 
{ display: flex; border-radius: 1em; height:3.5em}

body>nav>form>.pin
{display:flex;
  justify-content:center;
  align-items:center;
    width:2.5em;
    background-color: #F2F2F2;
    color: #000;
    border-radius: 10px 0px 0px 10px;}

body>nav>form>input.city { border: 1px solid #F2F2F2;}

body>nav>form>input[type="submit"] {
    background: #0065FC;
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 0 1em 1em 0;